 .App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

div.App div {
  margin-bottom: 1em;
}

div.Target span {
  vertical-align: super;
}

div.Target input {
  border: 1px solid lightgray;
  border-radius: 5px;
  font-size: 2em;
  text-align: right;
}

/* add some space to the right for tapping */
@media (max-width: 576px) {
  div.Target input {
    padding-right: 20px;
  }
}

div.ElemCount span {
  display: block;
}

div.Results div {
  margin-bottom: unset;
}

div.Combination {
  font-size: 125%;
}