body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

div.mainRow {
  margin-bottom: 1em;
}

div.row {
  justify-content: center;
  text-align: center;
  font-size: calc(10px + 2vmin);
/*   margin-bottom: 1em;
   border: 1px solid blue */
}

div.HideCol {
  background-color: gray;
  font-size: 50%;
}

/*
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}*/

div.Target input {
  border: 1px solid lightgray;
  border-radius: 5px;
  font-size: 2em;
  text-align: right;
}

/* add some space to the right for tapping */
@media (max-width: 576px) {
  div.Target input {
    padding-right: 20px;
  }
}

div.Results div {
  margin-bottom: unset;
}

div.Combination {
  font-size: 125%;
}
